<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.09.2021</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores eum omnis, placeat quaerat sed tempora. Eligendi fugit magnam voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores eum omnis, placeat quaerat sed tempora. Eligendi fugit magnam voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores eum omnis, placeat quaerat sed tempora. Eligendi fugit magnam voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores eum omnis, placeat quaerat sed tempora. Eligendi fugit magnam voluptate.</p>
  </div>
</div>
